
/* ************************************* */
/* Start css for sidebar */
/* ************************************* */
.sidebar {
    margin-top: 0px;
    margin-bottom: 20px;
}
.sidebar .sidebar-heading {
    text-transform: uppercase;
    margin-bottom: 5px;
    background: none;
    padding: 0;
    letter-spacing: 0.08em;
    border-bottom: none;
}
.sidebar .sidebar-heading h1,
.sidebar .sidebar-heading h2,
.sidebar .sidebar-heading h3,
.sidebar .sidebar-heading h4,
.sidebar .sidebar-heading h5 {
  display: flex;
  align-items: center;
  /* border-bottom: solid 2px #00ab6b; */
  line-height: 1.1;
  margin-bottom: 0;
  padding-bottom: 0px;
  /* font-size: px; */
  text-transform: none;
  font-family: "Noto Sans", "Noto Sans JP", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.sidebar .sidebar-heading h1:before,
.sidebar .sidebar-heading h2:before,
.sidebar .sidebar-heading h3:before,
.sidebar .sidebar-heading h4:before,
.sidebar .sidebar-heading h5:before {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
  margin-right: 0.5rem;
  /* background-color: black; */
}
.sidebar .sidebar-heading h1:after,
.sidebar .sidebar-heading h2:after,
.sidebar .sidebar-heading h3:after,
.sidebar .sidebar-heading h4:after,
.sidebar .sidebar-heading h5:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
  background-color: black;
  margin-left: 0.5rem;
  /* content: '';
  position: relative;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black; */
}
.sidebar .sidebar-body{
    padding: 0px;
}
.sidebar .sidebar-body{
  padding: 0px;
}

.sidebar .sidebar-body ul.archive-cloud li{
  line-height: 1.5;
  padding-left: 15px;
  position: relative;
  list-style-type: none!important;
}

.sidebar .sidebar-body ul.archive-cloud li a {
  color: rgba(0, 0, 0, .5);
}
.sidebar .sidebar-body ul.archive-cloud li a:hover {
  color: #00ab6b;
  text-decoration: none;
}

.sidebar .sidebar-body ul.archive-cloud li:before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid rgba(0, 0, 0, .5);
}

  .sidebar .sidebar-body ul.tag-cloud li {
    display: inline-block;
  }
  .sidebar .sidebar-body ul.tag-cloud li a {
    display: inline-block;
    padding: 5px;
    border: solid 1px #eeeeee;
    border-radius: 0;
    color: rgba(0, 0, 0, .5);
    margin: 5px 5px 5px 0;
    /* text-transform: uppercase; */
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 12px;
  }
  .sidebar .sidebar-body ul.tag-cloud li a:hover {
    color: #00ab6b;
    text-decoration: none;
    border-color: #00ab6b;
  }

.sidebar .form-group{
    margin-bottom: 10px;
    position: relative;

}
.sidebar .form-group .form-control{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    padding-right: 42.5px;
}
.sidebar .form-group .form-control-feedback{
    top: 6px;
    right: 0px;
    /* padding: 6px 12px; */
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    /* line-height: 34px; */
    text-align: center;
    pointer-events: none;
}
/* ************************************* */
/* End css for sidebar */
/* ************************************* */
/* ************************************* */
/* Start css for navbar */
/* ref. 
   https://ja.stackoverflow.com/questions/51281/bootstrap4%E3%81%AB%E3%81%8A%E3%81%84%E3%81%A6%E3%83%8F%E3%83%B3%E3%83%90%E3%83%BC%E3%82%AC%E3%83%BC%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC%E3%81%AE%E8%89%B2%E5%A4%89%E6%9B%B4%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6
/* ************************************* */
.custom-hamburger .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 245, 245, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.custom-hamburger .navbar-toggler{
  color: rgba(0,0,0,.5);
  border-color: rgba(245, 245, 245, 0.1);
}
/* ************************************* */
/* End css for navbar */
/* ************************************* */
/* ************************************* */
/* Start css for READ MORE POST */
/* ************************************* */
p#btn {
  margin: 1rem 1rem;
}

.btn {
  font-weight: 700;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 0;
}
.btn-template-main {
  color: rgba(0, 0, 0, .5);
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, .5);
}
.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
  color: #00ab6b;
  background-color: #e6e6e6;
  border-color: #00ab6b;
}
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
  background-image: none;
}
.btn-template-main.disabled,
.btn-template-main[disabled],
fieldset[disabled] .btn-template-main,
.btn-template-main.disabled:hover,
.btn-template-main[disabled]:hover,
fieldset[disabled] .btn-template-main:hover,
.btn-template-main.disabled:focus,
.btn-template-main[disabled]:focus,
fieldset[disabled] .btn-template-main:focus,
.btn-template-main.disabled:active,
.btn-template-main[disabled]:active,
fieldset[disabled] .btn-template-main:active,
.btn-template-main.disabled.active,
.btn-template-main[disabled].active,
fieldset[disabled] .btn-template-main.active {
  background-color: #ffffff;
  border-color: #00ab6b;
}
.btn-template-main .badge {
  color: #ffffff;
  background-color: #00ab6b;
}
.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active {
  background: #00ab6b;
  color: #ffffff;
  border-color: #00ab6b;
}
/* ************************************* */
/* END css for READ MORE POST */
/* ************************************* */

span.lastmod{
  display: inline-block;
  color: rgba(0, 0, 0, .44);
}
span.lastmod i{
  margin-right: .5em;
}
span.lastmod li{
  list-style-type: none!important;
  display: inline-block;
  margin-right: 1rem;
}

/* ************************************* */
/* Start css for TOC */
/* ************************************* */
#TableOfContents > ul {
  font-size: smaller;
  border-radius: 0.5em;
  border: solid 1px lightgray;
  padding: 0.5em 1em;
  line-height: 2;
  font-size: 1.2rem;
}
#TableOfContents > ul:before {
  content: "目次";
  font-weight: bolder;
  font-size: 1.5rem;
  color: #212529;
}
#TableOfContents ul {
  list-style-type: none;
}
#TableOfContents li {
  padding-top: 0;
}
#TableOfContents li > ul {
  padding-left: 1em;
  width: 100%;
}
#TableOfContents a {
  font-weight: normal;
  display: block;
  border-bottom: dashed 1px lightgray;
}
/* ************************************* */
/* End css for TOC */
/* ************************************* */

.thumbnail_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* ************************************* */
/* start css for post_style.html */
/* ************************************* */
.post-style {
  margin: 0.5rem 0 1.2rem 0;
}

.post-style .post-text p {
  margin: 1rem 0 0.2rem 0;
}

@media screen and (min-width: 480px){
  /* For iphone */
  .post-style .post-thumbnail {
    text-align: center;
  }
  .post-style .post-thumbnail .img-fluid{
    height: auto;
    max-width: 75%;
    object-fit: inherit;
  }  
}

@media screen and (min-width: 768px){
  /* For PC or tablet */
  .post-style .post-thumbnail {
    align-items: center;
    vertical-align: middle;
    display: inline-block;
  }
  .post-style .post-thumbnail .img-fluid{
    height: auto;
    max-width: 100%;
    object-fit: inherit;
  }  
}

/* ************************************* */
/* end css for post_style.html */
/* ************************************* */
/* ************************************* */
/* Start css for breadcrmbs.html */
/* ************************************* */
.breadcrumb {
  background: none;
  color: #121416;
}

ol.breadcrumb {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 27px;
  padding: 0rem;
}
.article-breadcrumbs ol.breadcrumb{
  /* for article */
  border-bottom: none;
  font-weight: 700;
  font-size: 0.8rem;
  /* margin-bottom: 27px; */
  padding: 0rem;
  margin: 0rem;
}
.article-breadcrumbs .section-title span {
  /* for article */
  border-bottom: none;
  display: inline-block;
  padding: 0rem;
  margin: 0rem;
}

.breadcrumb li {
  display: inline;
}
.breadcrumb li:last-child {
  margin-left: 1em;
}

.breadcrumb a{
  color: #212529;
}

.breadcrumb li:first-child a:before {
  font-family: "Font Awesome 5 Free";
  content: '\f015  ';
  font-size: 1.1em;
  color: #212529;
}

.article-breadcrumbs .breadcrumb .breadcrumb-item.active a{
  border-bottom: 1px solid rgba(0, 0, 0, .44);
}

.breadcrumb-item+.breadcrumb-item:before{
  content: ">";
}

/* ************************************* */
/* End css for breadcrmbs.html */
/* ************************************* */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');